<%- include('../../views/header')%>
    <h1><%= title %></h1>
    <% if (flash) { %>
      <h4 class="flash"><%= flash.message %></h4>
    <% } %>
    <% if (errors) { %>
        <% for (var i=0;i < errors.length;i++) { %>
            <li class="error">
                <span class="error__text">
                    <%= errors[i].msg %>
                </span>
            </li>
        <% } %>
    <% } %>
    <form action="/signup" method="post" class="form">
        <div class="form__block">
            <a href="/login" class="form__link">Sign In</a>
        </div>
        <div class="form__block">
            <label for="email">Email: </label>
            <div>
                <input id="email" type="text" name="email" placeholder="johndoe@email.com" required>
            </div>
        </div>
        <div class="form__block">
                <label for="forename">First Name: </label>
                <div>
                    <input id="forename" type="text" name="forename" placeholder="John" required>
                </div>
            </div>
        <div class="form__block">
                <label for="surname">Last Name: </label>
                <div>
                    <input id="surname" type="text" name="surname" placeholder="Doe" required>
                </div>
            </div>
        <div class="form__block">
            <p>Passwords must be at least 5 chars long and contain one number</p>
            <label for="password">Password: </label>
            <div>
                <input id="password" type="password" name="password" value="secret1" required>
            </div>
        </div>
        <input type="submit" value="Register">
    </form>
<%- include('../../views/footer')%>