<%- include('../../views/header')%>
    <h1><%= title %></h1>
    <% if (flash) { %>
    <h4 class="flash"><%= flash.message %></h4>
    <% } %>
    <% if (errors) { %>
        <% for (var i=0;i < errors.length;i++) { %>
            <li class="error">
                <span class="error__text">
                    <%= errors[i].msg %>
                </span>
            </li>
        <% } %>
    <% } %>
    <form action="/login" method="post" class="form">
        <div class="form__block">
            <a href="/signup" class="form__link">Register</a>
        </div>
        <div class="form__block">
                <label for="email">Email: </label>
                <div>
                    <input id="email" type="text" name="email">
                </div>
        </div>
        <div class="form__block">
            <label for="password">Password: </label>
            <div>
                <input id="password" type="password" name="password" value="secret">
            </div>
        </div>
        <input type="submit" value="Login">
    </form>
<%- include('../../views/footer')%>